<div class="btn-group batch-actions">
  {{#if batchActions}}
    <a href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
      <span class="fa fa-bars"></span>
    </a>
    <ul class="dropdown-menu">
      {{#each batchActions as |action|}}
        {{admin-batch-action action=action adminAction="adminAction" baseBatchAction="baseBatchAction" batches=__batches}}
      {{/each}}
    </ul>
  {{/if}}
</div>
