{{#admin-navigation-menu class="dropdown" content=navigation}}
  <a data-toggle="collapse" href="#menu-{{index}}">
    <span>{{navigation.title}}</span>
  </a>

  <ul id="menu-{{index}}"class="collapse">
    {{#each navigation.children as |navigation|}}
      {{partial "admin/navigation/item"}}
    {{/each}}
  </ul>
{{/admin-navigation-menu}}
