<div class="panel panel-default">
  <div class="panel-heading">
    <div class="pull-right">
      {{partial "admin/actions"}}
    </div>
    <h3>{{format-html-message (intl-get 'commons.title.edit')}} {{format-html-message (intl-get controllerNameT)}}</h3>
  </div>
  <div class="panel-body">
    {{outlet 'form'}}
  </div>
</div>

